body{
    height: 200%;
    overflow: visible;
}
.carousel-item{
    height: 98vh;
}
.h150{
    height: 50vh;
    text-align: center;
    padding: 3em;
}

/* Post  */

 #post, #post-detail, #create-post, #profile{
     margin: 5rem;
 }

 .card-location .icon{
    margin-right: 5px;
    margin-bottom: 4px;
 }

 #post-detail .product_meta span{
     font-weight: 600;
 }

 #create-post form{
     width: 50%;
 }

 #create-post .btn{
    width: auto;
 }

 .h50{
     height: 50vh;
 }